.buttons2 {
    display: flex;       /* Align buttons next to each other */
    gap: 10px;           /* Reduced the gap between the buttons */
    background-color: inherit;
    border: none;
    justify-content: center; /* Optional: centers buttons horizontally */
}

/* Styling for each image inside buttons2 */
.buttons2 img {
    border-radius: 50%;
    height: 150px;
}