/* General Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Audiowide", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */
nav {
    background: #ffa9a9;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

label.logo {
    color: white;
    font-size: 25px;
    padding: 55px;
    font-weight: bold;
}

nav ul {
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #9d3232;
    transition: 0.3s ease;
}

.checkbtn {
    font-size: 22px;
    color: white;
    cursor: pointer;
    display: none;
}

/* Responsive Navbar */
#check {
    display: none;
}

@media (max-width: 890px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #9d3232;
        top: 80px;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
    }

    nav ul li {
        margin: 20px 0;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

/* Card Styling */
.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #ffa9a9;
    border: 1px solid #000000;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    object-fit: cover;
    width: 100%;
    max-height: 450px;
    border-radius: 8px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 100px;
    padding: 20px;
}

.card button {
    background-color: inherit;
    border: none;
    width: 100px;

}

.buttons img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.buttons button:hover {
    transform: scale(1.1);
}
